@import url("https://fonts.googleapis.com/css?family=Lato");
.green-text {
  color: #1A7A67; }

.red-text {
  color: #BE1818; }

.yellow-text {
  color: #E2A02D; }

body {
  font-family: 'Lato', "canada-type-gibson",sans-serif;
  background: #FFFFFF; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    margin: 0;
    line-height: 1.2; }

.main-section {
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 15px; }
  .main-section h3 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    .main-section {
      padding: 30px 0;
      margin: 0 20px; }
      .main-section h3 {
        font-size: 35px; } }
  @media (min-width: 1100px) {
    .main-section {
      padding: 40px 0;
      margin: 0 30px; }
      .main-section h3 {
        font-size: 45px; } }
  @media (min-width: 1280px) {
    .main-section {
      margin: 0 auto; } }

.yellow-border-section {
  background: #E2A02D;
  width: 100%;
  margin-top: -5px; }
  .yellow-border-section .white-background {
    background: #FFFFFF; }

.clear-div {
  clear: both; }

.navigation {
  display: none; }
  @media (min-width: 768px) {
    .navigation {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #FFFFFF;
      z-index: 100; } }
  .navigation .navgiation-links {
    padding: 0;
    text-align: center;
    margin: 15px auto; }
    .navigation .navgiation-links .navigation-link a {
      font-size: 25px;
      color: #000000;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none; }
      .navigation .navgiation-links .navigation-link a:hover {
        color: #1A7A67; }
    .navigation .navgiation-links .navigation-link.active a {
      color: #E2A02D; }
    .navigation .navgiation-links .navigation-link.logo-link {
      width: 150px; }
      .navigation .navgiation-links .navigation-link.logo-link img {
        width: 100%; }
    @media (min-width: 768px) {
      .navigation .navgiation-links .navigation-link {
        display: inline-block;
        padding: 0 7.5px;
        vertical-align: middle; }
        .navigation .navgiation-links .navigation-link a {
          font-size: 22px; }
      .navigation .navgiation-links .navigation-link.logo-link {
        width: 100px; }
        .navigation .navgiation-links .navigation-link.logo-link img {
          width: 100%; } }
    @media (min-width: 1100px) {
      .navigation .navgiation-links .navigation-link {
        padding: 0 15px; }
        .navigation .navgiation-links .navigation-link a {
          font-size: 32px; }
      .navigation .navgiation-links .navigation-link.logo-link {
        width: 150px; } }

.landing {
  text-align: center; }
  @media (min-width: 768px) {
    .landing {
      margin-top: 140px; } }
  @media (min-width: 1100px) {
    .landing {
      margin-top: 190px; } }
  .landing h1 {
    font-size: 50px;
    color: #E2A02D; }
    @media (min-width: 768px) {
      .landing h1 {
        font-size: 60px; } }
    @media (min-width: 1100px) {
      .landing h1 {
        font-size: 80px; } }
  .landing .landing-content {
    position: relative; }
    .landing .landing-content .landing-image {
      width: 100%; }
    .landing .landing-content .landing-hours {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.7);
      padding: 15px 0; }
      .landing .landing-content .landing-hours h4 {
        font-size: 20px;
        font-weight: 300; }
        @media (min-width: 768px) {
          .landing .landing-content .landing-hours h4 {
            font-size: 30px; } }
        @media (min-width: 1100px) {
          .landing .landing-content .landing-hours h4 {
            font-size: 35px; } }

.menus-section {
  text-align: center; }
  .menus-section a {
    text-transform: uppercase; }
  .menus-section h3 {
    text-decoration: underline; }
  .menus-section a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    display: block;
    margin-top: 15px; }
  @media (min-width: 768px) {
    .menus-section a {
      font-size: 30px;
      margin-top: 20px; } }
  @media (min-width: 1100px) {
    .menus-section a {
      font-size: 40px; } }
  .menus-section .menu-photos {
    margin-top: 25px; }
    @media (min-width: 768px) {
      .menus-section .menu-photos {
        margin-top: 35px; } }
    .menus-section .menu-photos img {
      width: 33.3333333333333%;
      display: inline; }

.team-section .team-photo {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  width: 75%; }
  .team-section .team-photo img {
    width: 100%; }
.team-section .team-background {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  width: 85%;
  margin-top: 25px; }
  .team-section .team-background p {
    font-size: 15px; }
    @media (min-width: 768px) {
      .team-section .team-background p {
        font-size: 20px; } }
    @media (min-width: 1100px) {
      .team-section .team-background p {
        font-size: 25px; } }

.hours-section {
  text-align: center; }
  .hours-section .regular-hours-section {
    margin-top: 25px; }
    .hours-section .regular-hours-section h4 {
      font-size: 20px;
      font-weight: 300; }
  @media (min-width: 768px) {
    .hours-section .regular-hours-section {
      margin-top: 30px; }
      .hours-section .regular-hours-section h4 {
        font-size: 30px; } }
  @media (min-width: 1100px) {
    .hours-section .regular-hours-section {
      margin-top: 35px; }
      .hours-section .regular-hours-section h4 {
        font-size: 30px; } }

.events-section h4 {
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  margin: 0 auto; }
  .events-section h4 span {
    cursor: pointer; }
.events-section h5 {
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase; }
.events-section .events-photos {
  height: 375px;
  width: 100%;
  text-align: center;
  margin-top: 20px; }
  .events-section .events-photos img {
    width: 32%; }
    .events-section .events-photos img:first-child {
      max-width: 460px; }
    .events-section .events-photos img:nth-child(2) {
      max-width: 230px; }
    .events-section .events-photos img:nth-child(3) {
      max-width: 460px; }
  @media (min-width: 768px) {
    .events-section .events-photos {
      margin-top: 40px; } }
@media (min-width: 768px) {
  .events-section h4 {
    font-size: 25px; }
  .events-section h5 {
    font-size: 30px; } }
@media (min-width: 1100px) {
  .events-section h4 {
    font-size: 30px; }
  .events-section h5 {
    font-size: 35px; } }

/*# sourceMappingURL=main.css.map */
