@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Amiri");
.green-text {
  color: #1A7A67; }

.red-text {
  color: #BE1818; }

.yellow-text {
  color: #E2A02D; }

body {
  font-family: 'Lato', "canada-type-gibson",sans-serif;
  background: #FFFFFF; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    margin: 0;
    line-height: 1.2; }

.main-section {
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 15px; }
  .main-section h3 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    .main-section {
      padding: 30px 0;
      margin: 0 20px; }
      .main-section h3 {
        font-size: 35px; } }
  @media (min-width: 1100px) {
    .main-section {
      padding: 40px 0;
      margin: 0 30px; }
      .main-section h3 {
        font-size: 45px; } }
  @media (min-width: 1280px) {
    .main-section {
      margin: 0 auto; } }

.yellow-border-section {
  background: #E2A02D;
  width: 100%;
  margin-top: -5px; }
  .yellow-border-section .white-background {
    background: #FFFFFF; }

.clear-div {
  clear: both; }

.green-link {
  cursor: pointer;
  color: #1A7A67;
  text-decoration: none; }
  .green-link:hover {
    color: #0C3A31; }

@media (min-width: 768px) {
  #navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 100; } }
#navigation .navgiation-links {
  padding: 0;
  text-align: center;
  margin: 10px auto 5px auto; }
  #navigation .navgiation-links .navigation-link {
    display: none; }
    #navigation .navgiation-links .navigation-link a {
      font-size: 25px;
      color: #000000;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none; }
      #navigation .navgiation-links .navigation-link a:hover {
        color: #1A7A67; }
    #navigation .navgiation-links .navigation-link a.active {
      color: #E2A02D; }
  #navigation .navgiation-links .navigation-link.logo-link {
    display: block;
    width: 100px;
    margin: 0 auto; }
    #navigation .navgiation-links .navigation-link.logo-link img {
      width: 100%; }
  @media (min-width: 768px) {
    #navigation .navgiation-links {
      margin: 15px auto; }
      #navigation .navgiation-links .navigation-link {
        display: inline-block;
        padding: 0 7.5px;
        vertical-align: middle; }
        #navigation .navgiation-links .navigation-link a {
          font-size: 22px; }
      #navigation .navgiation-links .navigation-link.logo-link {
        width: 75px;
        display: inline-block; }
        #navigation .navgiation-links .navigation-link.logo-link img {
          width: 100%; } }
  @media (min-width: 1100px) {
    #navigation .navgiation-links .navigation-link {
      padding: 0 15px; }
      #navigation .navgiation-links .navigation-link a {
        font-size: 32px; }
    #navigation .navgiation-links .navigation-link.logo-link {
      width: 100px; } }

.landing {
  text-align: center; }
  @media (min-width: 768px) {
    .landing {
      margin-top: 100px; } }
  @media (min-width: 1100px) {
    .landing {
      margin-top: 150px; } }
  .landing h1 {
    font-size: 50px;
    color: #E2A02D;
    display: none;
    font-family: 'Amiri', serif; }
    @media (min-width: 768px) {
      .landing h1 {
        font-size: 60px;
        display: block; } }
    @media (min-width: 1100px) {
      .landing h1 {
        font-size: 80px; } }
  .landing .landing-content {
    position: relative; }
    .landing .landing-content .landing-image {
      width: 100%; }
    .landing .landing-content .takeout-btn, .landing .landing-content .table-order-btn {
      text-transform: uppercase;
      display: inline-block;
      width: 300px;
      padding: 15px;
      color: #FFFFFF;
      text-decoration: none;
      transition: background 1s ease;
      font-size: 18px;
      border: none;
      border-radius: 10px;
      padding: 10px 30px; }
      @media (min-width: 768px) {
        .landing .landing-content .takeout-btn, .landing .landing-content .table-order-btn {
          font-size: 24px; } }
    .landing .landing-content .takeout-btn {
      background: #1A7A67;
      margin-top: 0;
      margin-bottom: 5px; }
      .landing .landing-content .takeout-btn:hover {
        background: #0C3A31; }
    .landing .landing-content .table-order-btn {
      margin-bottom: 25px;
      background: #E2A02D;
      margin-top: 10px; }
      .landing .landing-content .table-order-btn:hover {
        background: #C88E28; }
    .landing .landing-content .landing-hours {
      background: #E2A02D;
      margin-top: -5px;
      padding: 15px;
      color: #FFFFFF; }
      @media (min-width: 768px) {
        .landing .landing-content .landing-hours {
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          margin-top: 0;
          background: rgba(255, 255, 255, 0.7);
          color: #000000;
          padding: 15px 0; } }
      .landing .landing-content .landing-hours h4 {
        font-size: 20px;
        font-weight: 300; }
        .landing .landing-content .landing-hours h4:first-child {
          margin-bottom: 10px; }
        @media (min-width: 768px) {
          .landing .landing-content .landing-hours h4 {
            font-size: 30px; } }
        @media (min-width: 1100px) {
          .landing .landing-content .landing-hours h4 {
            font-size: 35px; } }

.mission-section .mission-statement {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  margin-top: 25px; }
  .mission-section .mission-statement p {
    font-size: 17.5px; }
    @media (min-width: 768px) {
      .mission-section .mission-statement p {
        font-size: 20px; } }
    @media (min-width: 1100px) {
      .mission-section .mission-statement p {
        font-size: 22.5px; } }

.menus-section {
  text-align: center; }
  .menus-section a {
    text-transform: uppercase; }
  .menus-section h3 {
    text-decoration: underline; }
  .menus-section a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    margin-top: 15px; }
  @media (min-width: 768px) {
    .menus-section a {
      font-size: 30px;
      margin-top: 20px; } }
  @media (min-width: 1100px) {
    .menus-section a {
      font-size: 40px; } }
  .menus-section .menu-photos {
    margin-top: 25px; }
    @media (min-width: 768px) {
      .menus-section .menu-photos {
        margin-top: 35px; } }
    .menus-section .menu-photos img {
      width: 33.3333333333333%;
      display: inline; }

.team-section .team-photo {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  width: 75%; }
  .team-section .team-photo img {
    width: 100%; }
.team-section .team-background {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  width: 85%;
  margin-top: 25px; }
  .team-section .team-background p {
    font-size: 15px; }
    @media (min-width: 768px) {
      .team-section .team-background p {
        font-size: 20px; } }
    @media (min-width: 1100px) {
      .team-section .team-background p {
        font-size: 25px; } }

.hours-section {
  text-align: center; }
  .hours-section .regular-hours-section {
    margin-top: 25px; }
    .hours-section .regular-hours-section h3 {
      font-size: 24px;
      font-weight: 700; }
    .hours-section .regular-hours-section h4 {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.3; }
    .hours-section .regular-hours-section h5 {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.3; }
  @media (min-width: 768px) {
    .hours-section .regular-hours-section {
      margin-top: 30px; }
      .hours-section .regular-hours-section h3 {
        font-size: 34px; }
      .hours-section .regular-hours-section h4 {
        font-size: 30px; }
      .hours-section .regular-hours-section h5 {
        font-size: 26px; } }
  @media (min-width: 1100px) {
    .hours-section .regular-hours-section {
      margin-top: 35px; }
      .hours-section .regular-hours-section h4 {
        font-size: 30px; }
      .hours-section .regular-hours-section h5 {
        font-size: 26px; } }

.cornwalls-image-slider {
  margin-top: 20px; }
  .cornwalls-image-slider .slick-slide {
    pointer-events: none; }
  .cornwalls-image-slider .slick-prev {
    left: 25px; }
  .cornwalls-image-slider .slick-next {
    right: 25px; }
  .cornwalls-image-slider .slick-arrow {
    width: 25px;
    height: 25px;
    z-index: 100; }
    .cornwalls-image-slider .slick-arrow::before {
      font-size: 25px;
      opacity: 1; }
  .cornwalls-image-slider img {
    height: 300px;
    border-left: 2px solid #FFFFFF; }
  @media (min-width: 768px) {
    .cornwalls-image-slider {
      margin-top: 40px; }
      .cornwalls-image-slider .slick-prev {
        left: 50px; }
      .cornwalls-image-slider .slick-next {
        right: 50px; }
      .cornwalls-image-slider .slick-arrow {
        width: 50px;
        height: 50px; }
        .cornwalls-image-slider .slick-arrow::before {
          font-size: 50px; }
      .cornwalls-image-slider img {
        height: 400px; } }

.events-section h4 {
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
  text-align: center;
  margin: 0 auto; }
  .events-section h4 span {
    cursor: pointer; }
.events-section h5 {
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase; }
@media (min-width: 768px) {
  .events-section h4 {
    font-size: 25px; }
  .events-section h5 {
    font-size: 30px; } }
@media (min-width: 1100px) {
  .events-section h4 {
    font-size: 30px; }
  .events-section h5 {
    font-size: 35px; } }

.contact-section {
  text-align: center; }
  .contact-section h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .contact-section h6 {
    font-size: 18px;
    font-weight: 700; }
  .contact-section .address {
    text-decoration: none; }
    .contact-section .address h6 {
      font-size: 18px;
      display: inline-block;
      text-decoration: none;
      font-weight: 300; }
      .contact-section .address h6:first-child {
        margin-top: 10px; }
  .contact-section .telephone-link {
    margin-top: 20px; }
    .contact-section .telephone-link a {
      text-decoration: none;
      font-size: 18px;
      color: #000000;
      margin-top: 15px;
      font-weight: 100; }
  .contact-section .map-container {
    height: 350px;
    margin-top: 35px; }
  .contact-section .map-container {
    width: 80%;
    margin: 0 10%;
    height: 300px;
    margin-top: 25px; }
    .contact-section .map-container #goog-map {
      width: 100%;
      height: 100%; }
  @media (min-width: 768px) {
    .contact-section h5 {
      font-size: 25px;
      margin-bottom: 25px; }
    .contact-section h6 {
      font-size: 24px; }
    .contact-section .address h6 {
      font-size: 24px; }
    .contact-section .telephone-link {
      margin-top: 25px; }
      .contact-section .telephone-link a {
        font-size: 20px; }
    .contact-section .map-container {
      height: 350px;
      margin-top: 35px; } }
  @media (min-width: 1100px) {
    .contact-section h5 {
      font-size: 30px; }
    .contact-section h6 {
      font-size: 28px; }
    .contact-section .address h6 {
      font-size: 26px; }
    .contact-section .telephone-link a {
      font-size: 22px; }
    .contact-section .map-container {
      height: 400px; } }

.footer {
  background: #E2A02D;
  color: #000000;
  padding: 10px 20px; }
  .footer p {
    display: inline-block;
    font-size: 10px;
    margin-right: 15px; }

#event-contact-form {
  display: none; }

#confirmation {
  margin-top: 20px; }

.contact-form .form-header {
  text-align: center;
  margin-bottom: 20px; }
  .contact-form .form-header h3 {
    display: inline-block; }
.contact-form #contactForm {
  text-align: center;
  max-width: 900px;
  margin: 0 auto; }
  .contact-form #contactForm .form-side {
    width: 100%; }
    @media (min-width: 768px) {
      .contact-form #contactForm .form-side {
        width: 45%;
        display: inline-block; } }
  @media (min-width: 768px) {
    .contact-form #contactForm .form-side.left-side {
      padding-right: 1%; }
    .contact-form #contactForm .form-side.right-side {
      padding-left: 1%; } }
  .contact-form #contactForm .form-group {
    text-align: left;
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .contact-form #contactForm .form-group {
        width: 100%; } }
    .contact-form #contactForm .form-group label {
      text-transform: uppercase;
      display: block;
      margin-bottom: 2px;
      font-size: 12px;
      margin-top: 20px; }
      @media (min-width: 768px) {
        .contact-form #contactForm .form-group label {
          font-size: 14px; } }
    .contact-form #contactForm .form-group textarea, .contact-form #contactForm .form-group input[type] {
      border-radius: 3px;
      border: 1px solid #000000;
      font-size: 14px;
      padding: 10px 5px;
      width: 100%;
      box-sizing: border-box; }
      @media (min-width: 1100px) {
        .contact-form #contactForm .form-group textarea, .contact-form #contactForm .form-group input[type] {
          font-size: 16px; } }
  @media (min-width: 768px) {
    .contact-form #contactForm .event-date-time .form-group {
      display: inline-block;
      margin-right: 2%; }
      .contact-form #contactForm .event-date-time .form-group:last-child {
        margin-right: 0; }
    .contact-form #contactForm .event-date-time .form-date {
      width: 44%; }
      .contact-form #contactForm .event-date-time .form-date input {
        height: 39px; } }
    @media (min-width: 768px) and (min-width: 768px) {
      .contact-form #contactForm .event-date-time .form-date input {
        height: 41px; } }
  @media (min-width: 768px) {
    .contact-form #contactForm .event-date-time .form-time {
      width: 25%; } }
  @media (min-width: 768px) {
    .contact-form #contactForm .event-type .form-group {
      display: inline-block;
      width: 48%; }
      .contact-form #contactForm .event-type .form-group:first-child {
        margin-right: 3%; } }
  .contact-form #contactForm .form-message {
    width: 90%;
    margin-bottom: 20px; }
    .contact-form #contactForm .form-message textarea {
      width: 100%;
      box-sizing: border-box;
      min-height: 100px; }
    @media (min-width: 768px) {
      .contact-form #contactForm .form-message {
        margin: 20px auto;
        width: 92%; } }
  .contact-form #contactForm .errorMessage {
    position: absolute;
    color: #BE1818; }
  .contact-form #contactForm #contact-button {
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E2A02D;
    transition: background 1s ease;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 10px 30px; }
    @media (min-width: 768px) {
      .contact-form #contactForm #contact-button {
        font-size: 24px; } }
    .contact-form #contactForm #contact-button:hover {
      background: #C88E28; }
  .contact-form #contactForm #contact-button.disabled {
    opacity: .5; }
  .contact-form #contactForm #confirmation {
    text-align: center;
    z-index: 800;
    width: 100%;
    display: none; }

/*# sourceMappingURL=main.css.map */
