.events-section {

  h4 {
    font-size: 20px;
    font-weight: 300;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

    span {
      cursor: pointer;
    }
  }

  h5 {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
  }

  @media (min-width: $breakpoint-tablet) {

    h4 {
      font-size: 25px;
    }  

    h5 {
      font-size: 30px;

    }
  }

  @media (min-width: $breakpoint-desktop) {
    h4 {
      font-size: 30px;
    }  

    h5 {
      font-size: 35px;
    }
  }
}