.events-section {

  h4 {
    font-size: 20px;
    font-weight: 300;
    max-width: 800px;
    margin: 0 auto;

    span {
      cursor: pointer;
    }
  }

  h5 {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
  }

  .events-photos {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;

    #event-photo-one {
      flex: 0.409267735;
    }

    #event-photo-two {
      flex: 0.181374077;
      padding: 0 10px;
    }

    #event-photo-three {
      flex: 0.409358188;
    }

    .event-photo {

      img {
        width: 100%;
        height: auto;
      }
    }
    

    @media (min-width: $breakpoint-tablet) {
      margin-top: 40px;
    }
  }

  @media (min-width: $breakpoint-tablet) {

    h4 {
      font-size: 25px;
    }  

    h5 {
      font-size: 30px;

    }
  }

  @media (min-width: $breakpoint-desktop) {
    h4 {
      font-size: 30px;
    }  

    h5 {
      font-size: 35px;
    }
  }
}