

.events-section {

  h4 {
    font-size: 20px;
    font-weight: 300;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

    span {
      cursor: pointer;
    }
  }

  h5 {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    font-weight: 300;
    text-transform: uppercase;
  }

  .event-image-slider {
    .slick-slide {
      pointer-events: none;
    }

    .slick-prev {
      left: 25px;
    }

    .slick-next {
      right: 25px;
    }

    .slick-arrow {
      width: 25px;
      height: 25px;
      z-index: 100;

      &::before {
        font-size: 25px;
        opacity: 1;
      }
    }

    img {
      height: 300px;
      border-left: 2px solid $white;
    }

    @media (min-width: $breakpoint-tablet) {
      .slick-prev {
        left: 50px;
      }

      .slick-next {
        right: 50px;
      }

      .slick-arrow {
        width: 50px;
        height: 50px;

        &::before {
          font-size: 50px;
        }
      }

      img {
        height: 400px;
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {

    h4 {
      font-size: 25px;
    }  

    h5 {
      font-size: 30px;

    }
  }

  @media (min-width: $breakpoint-desktop) {
    h4 {
      font-size: 30px;
    }  

    h5 {
      font-size: 35px;
    }
  }
}