@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Amiri');

.green-text {
  color: $green;
}

.red-text {
  color: $red;
}

.yellow-text {
  color: $yellow;
}