@import url('https://fonts.googleapis.com/css?family=Scheherazade');
@import url('https://fonts.googleapis.com/css?family=Lateef');
@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Poly');



.test-poly {
  font-family: 'Poly', serif;  
}

.test-lateef {
  font-family: 'Lateef', cursive;  
}

.test-amiri {
  font-family: 'Amiri', serif;  
}

.test-source-serif {
  font-family: 'Source Serif Pro', serif;  
}

.test-scheherazade {
  font-family: 'Scheherazade', serif;  
}

.test-image {
  width: 450px;
}