body {
  font-family: 'Lato', "canada-type-gibson",sans-serif;
  background: $white;

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    line-height: 1.2;
  }

}

.main-section {
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 15px;

  h3 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 30px 0;
    margin: 0 20px;

    h3 {
      font-size: 35px;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 40px 0;
    margin: 0 30px;

    h3 {
      font-size: 45px;
    }
  }

  @media (min-width: $breakpoint-large) {
    margin: 0 auto;
  }
}

.yellow-border-section {
  background: $yellow;
  width: 100%;
  margin-top: -5px;

  .white-background {
    background: $white;
  }


}



.clear-div {
  clear: both;
}


